<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.Seller %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.Product %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
